* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
body {
    font-family: 'Poppins', sans-serif
}
.hero__section {
    width: 100%;
    min-height: 100vh;
    background-color: #333;


    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;

  
    position: relative;
    z-index: 1;
}
.hero__section::before {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0; 
    content: "";

      background-image: url(./image/hero_bg.jpg);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    filter: blur(1.5px);
    z-index: -1;

}
.hero__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.hero__title {
    font-size: 4rem;
    font-weight: 700;
    width: 75%;
}
.hero__summery {
    margin: 1rem 0;
    width: 50%;
}
.hero__button {
    margin: 10px 0;
}
.primary__button {
    background-color: rgb(227, 97, 51);
    padding: 15px 20px;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    border-radius: 5px;
}