* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif
}
a {
    text-decoration: none;
}
.section {
    padding: 3rem 10rem;
}
.hero__section {
    width: 100%;
    min-height: 100vh;
    background-color: #333;


    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;

  
    position: relative;
    z-index: 1;
}
.hero__section::before {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0; 
    content: "";

      background-image: url(./image/hero_bg.jpg);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    filter: blur(1.5px);
    z-index: -1;

}
.hero__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.hero__title {
    font-size: 4rem;
    font-weight: 700;
    width: 75%;
}
.hero__summery {
    margin: 1rem 0;
    width: 50%;
}
.hero__button {
    margin: 10px 0;
}
.primary__button {
    background-color: rgb(227, 97, 51);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
    padding: 15px 20px;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.section__content {
    padding: 2rem 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.section__title {
    font-size: 3rem;
    font-weight: 600;
    padding: 1rem 0;
}
.section__summery {
    font-size: 18px;
    color: gray;
    width: 50%;
    padding: 1rem 0;
}
.section__summery.w-100{
    width: 100%;
}
.donate__form {
    padding: 1.5rem 0;
    width: 70%;
   
}
.donate__form .input__group {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.donate__form input[type="radio"] {
 display: none;
}
.donate__form .amount__box {
    width: 90px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgb(243, 171, 145);
     font-size: 20px;
    font-weight: 600;
    border: 2px solid transparent;
    color: orangered;
    border-radius: 5px;
}
.donate__form input[type="radio"]:checked + .amount__box{
    border:3px solid  orangered;
}
.donate__form .amount_number {
    width: 100%;
    padding: 10px 15px ;
    margin: 2rem 0;
    font-size: 20px;
    outline: none;
    border: none;
    text-align: center;
    border-bottom: 2px solid #ccc;
}
.info__section .section__items {
    width: 100%;
    padding: 1rem 0;
}
.info__section .item__image {
    width: 70px;
    height: 60px;
}
.info__section .item__image img{
 width: 100%;
 height: 100%;
 object-fit: cover;
 overflow: hidden;
}
.info__section .row {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.info__section .item{
    min-height: 300px;
    padding: 1rem;
    border-radius: 5px;
    background-color: #eee;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.info__section .item:nth-child(1) {
    background-color: rgb(187, 221, 233);
}
.info__section .item:nth-child(2) {
    background-color: rgb(235, 206, 210);
}
.info__section .item:nth-child(3) {
    background-color: rgb(253, 199, 177);
}
.info__section .item__title {
    font-size: 1.5rem;
    font-weight: 600;
}
.info__section .item__summery {
 color: gray;
}
.poverty__container {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.poverty__container .section__details {
    width: 55%;
    padding-right: 4rem;
}
.poverty__container .section__details:nth-child(1) {
    padding-right: 4rem;
}
.poverty__container .section__details:nth-child(2) {
    padding-left: 4rem;
}
.poverty__container .section__image {
    width: 45%;
    border-radius: 10px;
    overflow: hidden;
}
.poverty__container .section__image img {
    width: 100%;
    object-fit: cover;
}
.subcription__form {
    width: 100%;
    margin: 3rem 0;
    padding: 5rem 0;
    background-color: tomato;
    display: flex;
    align-items: center;
    justify-content: center;
}
.subcription__form .input__group{
    display: flex;
    border-radius: 5px;
    overflow: hidden;

}
.subcription__form .input__group input,button {
    padding: 10px 20px;
    border: none;
    outline: none;
    font-size: 16px;
}
.subcription__form .input__group input {
   background-color: #ccc;
}
.subcription__form .input__group button {
    background-color: rgb(253, 89, 30);
    color: #FFF;

}
.footre__container {
    width: 100%;
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgb(15, 15, 43);
    color: #fff;
}
.footer__title {
    font-size: 2rem;
    font-weight: 500;
    font-family: italic;
    color: rgb(253, 89, 30);
}
.footer__text {
    color: #eee;
}