* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
body {
    font-family: 'Poppins', sans-serif
}
.hero__section {
    width: 100%;
    min-height: 100vh;
    background-color: #333;


    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;

    background-image: url(./image/hero_bg.jpg);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}
.hero__content {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}
.hero__title {
    font-size: 4rem;
    font-weight: 700;
    width: 75%;
}
.hero__summery {
    width: 50%;
}